.three{
  width: 100%;
  height: 30vh;
  background-color: #7a5777;
 }
.skill img{
  width: 50px;
  margin: 0 18px;
}
.skill{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
}
.program img{
  width: 50px;
  margin: 0 18px;
}
.program{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90px;
}
/* ---------------------------------------- */
.skill .c span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 34%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .c span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7.5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.c:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .html span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 41.1%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .html span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.html:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .css span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 47%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .css span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.css:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .js span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 50.8%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .js span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.js:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .py span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 57.5%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .py span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.py:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .j span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 63.8%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .j span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.j:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.skill .php span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 69.7%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.skill .php span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.php:hover span{
  visibility: visible;
}

/* ---------------------------------------- */

.program .ps span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 35.3%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .ps span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.ps:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.program .lr span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 41%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .lr span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.lr:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.program .dw span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 46%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .dw span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.dw:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.program .fl span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 53.3%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .fl span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.fl:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.program .sai span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 58.7%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .sai span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.sai:hover span{
  visibility: visible;
}
/* ---------------------------------------- */
.program .sony span{
  position: absolute;
  width: fit-content;
  bottom: 125%;
  left: 64.9%;
  background: #fff;
  color: #313131;
  text-align: center;
  padding: 5px 8px;
  margin-left: -60px;
  border-radius: 3px;
  visibility: hidden;
  font-weight: bolder;
  font-family: 'rd_chulajaruekregular';
}
.program .sony span::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.sony:hover span{
  visibility: visible;
}
/* ---------------------------------------- */