.four{
	width: 100%;
	height: 100%;
    padding-bottom: 20px;
	background-color : #f9f9f9;
}
.four h1{
    position: relative;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'VT323', monospace;
    padding-top: 20px;
    text-align: center;
}
.four h1 span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #313131;
    color: #f9f9f9;
    transition: 1s;
    transform: rotateY(0);
    text-align: center;
    padding: 10px ;
    font-size: 30px;
}
.four h1:hover span{
    transform: rotateY(360deg);
}
.four h1 span:nth-child(1){
    transition-delay: .6s;
}
.four h1 span:nth-child(2){
    transition-delay: .4s;
}
.four h1 span:nth-child(3){
    transition-delay: .4s;
}
.box-list{
	font-size: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
}
.box-list ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.box-list ul li.active{
    color:#fff;
    background: #313131;
    box-shadow: -4px 0px #636363, 0px 4px #000, 0px -4px #636363, 4px 0px #000 ;
}
.box-list ul li{
	list-style: none;
    box-shadow: -4px 0px #f8e48f, 0px 4px #ddb22f, 0px -4px #f8e48f, 4px 0px #ddb22f ;
	background: #fbcf3a;
	padding: 5px 7px;
	margin: 14px;
	cursor: pointer;
	font-weight: bold;
}
.card .btn-read {
    margin: 10px 0px;
    text-decoration: none;
    display: inline-flex;
}
.btn-read button{
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    font-size: 11pt;
    color: #492E36;
	padding: 0.1rem 0.7rem;
	background: #fbcf3a;
	border: 3px solid #f8e48f;
	box-shadow: -4px 0px #f8e48f, 0px 4px #ddb22f, 0px -4px #f8e48f, 4px 0px #ddb22f;
	transform-style: preserve-3d;
	transition: background 150ms cubic-bezier(0,0,0.58,1);
	transition: transform 150ms cubic-bezier(0,0,0.58,1), background 150ms cubic-bezier(0,0,0.58,1);
	transition: transform 150ms cubic-bezier(0,0,0.58,1), background 150ms cubic-bezier(0,0,0.58,1);
}
.btn-read button::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
	background: #ebbd29;
	box-shadow: -3px 0px #f8e48f, 0px 3px #c79d20, 0px -3px #f8e48f, 3px 0px #c79d20 ; 
	transform: translate3d(0, 0.65em, -0.3em);
	transition: box-shadow 150ms cubic-bezier(0,0,0.58,1);
	transition: transform 150ms cubic-bezier(0,0,0.58,1), box-shadow 150ms cubic-bezier(0,0,0.58,1);
	transition: transform 150ms cubic-bezier(0,0,0.58,1), box-shadow 150ms cubic-bezier(0,0,0.58,1);
}
.btn-read button:hover{
	background: #fbcf3a;
	transform: translate(0,0.25em);
}
.btn-read button:hover::before{
	transform: translate3d(0, 0.5em, -1em);
}
.btn-read button:hover:active{
	background: #fbcf3a;
	transform: translate(0em, 0.65em);
}
.btn-read button:active::before{
	box-shadow: 0 0 0 2px #ddb22f, 0 0 #f8e48f;
	transform: translate3d(0, 0, -1em);
}
.imgbox.hide{
    display: none;
}
.imgbox{
    padding: 0 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    text-align: center;
    height: fit-content;
    max-width: 300px;
    margin: 12px 20px;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
}
.card:hover{
     transform: translatey(-5px);
     transition: 0.5s;
}
.card .img{
    height: 200px;
    width: 300px;
}
.card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card .top-text{
    padding: 5px;
}
.card .top-text .join{
    font-size: 15px;
    font-weight: bolder;
    color: #313131;
}
.card .top-text p{
    font-size: 15px;
    font-weight: 500;
    color: #313131;
    line-height: 20px;
}
.popup{
    position: fixed;
    z-index: 1100;
   width: 100%;
   top: 50%;
   left: 0;
}
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 11000;
    display: none;
}
.popup .read-box{
    border-radius: 10px;    
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: fit-content;
    height: fit-content;
    z-index: 12000;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    background: #313131;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    box-shadow: -4px 0px #636363, 0px 4px #000, 0px -4px #636363, 4px 0px #000;
}
.popup.active .overlay{
    display: block;
}
.popup.active .read-box{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
.read-box h3{
    font-size: 15pt;
    margin-top: 10px;
}
.read-box p{
    margin: 5px;
}
.read-box .btn-read button{
    margin-top: 15px;
    margin: 5px;
}
.popup img{
    width: 420px;
    height: 320px;
}
.popup .microbit img{
    width: 750px;
    height: 360px;
}
.popup .read-box .discord img{
    width: 380px;
    height: 310px;
}

.imgbox .card1{
    width: 340px;
    height: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-left: 15px;
    margin-top: 20px;
    justify-content: center;
}
.imgbox .card1 .img1{
    width: 100%;
    height: 100%;
}
.imgbox .card1 .img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgbox .card1 .top-text1{
    top: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: top 0.4s;
}
.imgbox .card1:hover .top-text1{
    top: 0;
}
.imgbox .card1 .top-text1 p {
    font-size: 14pt;
    font-weight: bolder;
    color: #313131;
    padding: 15px;
}
.video{
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    padding: 5px;
}

 /* ----------------------------------------------------------- */
 

@media only screen and (max-width: 600px) {
    .four h1{
        position: static;
        transition: 0.5s;
        font-family: 'VT323', monospace;
        padding-top: 30px;
        text-align: center;
    }
    .four h1 span{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #313131;
        color: #f9f9f9;
        transition: 1s;
        transform: rotateY(0);
        text-align: center;
        padding: 5px ;
        font-size: 30px;
    }
    .imgbox{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
    }
    .imgbox .card{
        max-width: 700px;
        margin: 10px 0;
    }
    .card1{
        max-width: 500px;
        margin: 10px 0;
    }
    .popup{
        position: fixed;
        z-index: 1100;
        width:100%;
    }
    .popup .read-box{
        font-size: 9px;
        border-radius: 10px;    
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        background: #fff;
        width: fit-content;
        height: fit-content;
        z-index: 12000;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
    }
    .read-box h3{
        font-size: 14px;
        margin-top: 10px;
    }
    .popup img{
        width: 200px;
        height: 155px;
    }
    .popup .microbit img{
        width: 270px;
        height: 150px;
    }
    .popup .read-box .discord img{
        width: 180px;
        height: 150px;
    }
    .popup .close-btn{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: #313131;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        box-shadow: -4px 0px #636363, 0px 4px #000, 0px -4px #636363, 4px 0px #000;
    }
    .btn-read button{
        font-family: 'Kanit', sans-serif;
        font-weight: 1000;
        font-size: 13px;
        color: #492E36;
        padding: 0.1rem 0.3rem;
        background: #fbcf3a;
        border: 3px solid #f8e48f;
        box-shadow: -4px 0px #f8e48f, 0px 4px #ddb22f, 0px -4px #f8e48f, 4px 0px #ddb22f;
        transform-style: preserve-3d;
        transition: background 150ms cubic-bezier(0,0,0.58,1);
        transition: transform 150ms cubic-bezier(0,0,0.58,1), background 150ms cubic-bezier(0,0,0.58,1);
        transition: transform 150ms cubic-bezier(0,0,0.58,1), background 150ms cubic-bezier(0,0,0.58,1);
    }
    .video{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        width: 150px;
    }
    .box-list{
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .box-list ul li{
        list-style: none;
        box-shadow: -4px 0px #f8e48f, 0px 4px #ddb22f, 0px -4px #f8e48f, 4px 0px #ddb22f ;
        background: #fbcf3a;
        padding: 5px 7px;
        margin: 6px;
        cursor: pointer;
        font-weight: bolder;
    }
    .imgbox .card1 .top-text1 p {
        font-size: 14px;
        font-weight: bolder;
        color: #313131;
        padding: 10px;
    }
    
}